<?xml version="1.0"?>
<model>
  <name>crop_row</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Takudzwa Magwenzi</name>
    <email>takudzwamagwenzi01@gmail.com</email>
  </author>

  <description>
    A simple reusable crop row for Gazebo Classic 11 agricultural simulations.
    The model is lightweight and can be repeated to create realistic field layouts.
  </description>
</model>
