<?xml version="1.0"?>
<model>
  <name>dirt_path</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Takudzwa Magwenzi</name>
    <email>takudzwamagwenzi01@gmail.com</email>
  </author>

  <description>
    A simple dirt path segment for agricultural scenes in Gazebo Classic 11.
  </description>
</model>
